h1 {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.aboutme-container {
    padding-left: 4em;
    padding-right: 4em;
}